body {
    background-color: bisque;
}

h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 52px;
    color: #3A263E;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #3A263E;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #7C5A82;
}

p, figcaption, ol {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
}

strong {
    text-transform: capitalize;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
    list-style-type: none;
}

form {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border-radius: 5px;
	border: none;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 15px;
	background-color: #f0f0f0;
	color:#8a97a0;
	margin-bottom: 30px;

}

button {
    border-radius: 5px;
    position: relative;
	padding: 15px;
	color: #FFF;
	margin: 0 auto;
	background: #7C5A82;
	font-size: 15px;
	text-align: center;
	font-style: normal;
	border: none;
	margin-bottom: 10px;
}





.center-container {
    text-align: center;
    margin: auto;
}

.login-button, 
.login-text {
    width: 100%;
}

.login-container {
    max-width: 600px;
    margin: auto;
}




.search-container {
    max-width: 1000px;
    padding: 20px;
    margin: auto;
}

.search-text {
    float: left;
    width: 85%;
}

.search-button {
    float: left;
    width: 15%;
}

.search-results {
    max-width: 1000px;
    padding: 20px 0;
    margin: 40px auto;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.content-box {
    border-radius: 5px;
    background-color: #f0f0f0;
    width: 75%;
    display: inline-flex;
}



.recipe-hero {
    width: 30%;
    max-height: 400px;
    object-fit: contain;
    padding: 20px;
}

.recipe-text {
    text-align: left;
    width: 65%;
}

.cat-chef {
    position: fixed;
    max-height: 250px;
    object-fit: contain;
    bottom: 0px;
    right: 0px;
}

.recipe-image {
    position: relative;
    max-width: 100%;
    object-fit: contain;
}
